<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.png" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pycon Pakistan</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css"%}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css"%}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome.min.css"%}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{% static "fonts/simple-line-icons.css"%}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{% static "css/slicknav.css"%}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{% static "css/nivo-lightbox.css"%}" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{% static "css/animate.css"%}">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.css"%}">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="{% static "css/colors/green.css"%}" media="screen" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css"%}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->





{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">


<!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Roof area Starts -->
      <div id="roof" class="hidden-xs">
          <div class="container">
            <div class="col-md-6 col-sm-6">
              <div class="info-bar-address">
                 <i class="icon-location-pin"></i> Pakistan
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <!-- Quick Contacts Starts -->
              <div class="quick-contacts">
                  <span><a href="https://www.facebook.com/PyConPakistan/"><i class="icon-social-facebook"></i></a></span>
                  <span><a href="https://twitter.com/pyconpk"><i class="icon-social-twitter"></i></a></span>
                  <span><i class="icon-envelope"></i><a href="mailto:info@pycon.pk">info@pycon.pk</a></span>
              </div>
              <!-- Quick Contacts End -->
            </div>
          </div>
      </div>
      <!-- Roof area End -->

      <!-- Nav Menu Section Start -->
      <div class="navigation-menu">
        <nav class="navbar navbar-default navbar-event" role="navigation" data-spy="affix" data-offset-top="40">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/"><img src="/static/media/uploads/pycon-logo.png" alt="{{ settings.SITE_TITLE }}"  /></a>

            </div>

              <div class="navbar-collapse collapse" id="navbar">

    {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
</div>

          <!-- Mobile Menu Start -->
          {% page_menu "pages/menus/mobile.html"%}
          <!-- Mobile Menu End -->
          </div>
        </nav>
      </div>
      <!-- Nav Menu Section End -->

    </header>
    <!-- Header Area wrapper End -->

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

                {% editable page.richtextpage.content %}
                {{ page.richtextpage.content|safe }}
                {% endeditable %}

        </div>
    </div>
</div>
{% endblock %}


<!-- Footer Section Start -->
    <footer class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3><img src="/static/media/uploads/pycon-logo.png" alt=""></h3>
            <p>
             We are looking forward to your participation.
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Support</h3>
            <ul>
              <li><a href="/contact-us">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Learn More</h3>
            <ul>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/about">How it works</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12">
            <h3>Quick Link</h3>
            <ul>
              <li><a href="/schedule">Schedule</a></li>
              <li><a href="/gallery">Gallery</a></li>
              <li><a href="/sponsors">Sponsors</a></li>
              <!-- <li><a href="/buy-tickets">Tickets</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
 <!-- Copytight Start -->
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="copyright-text text-center">
             © Python Community Pakistan
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Copytight End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
    </a>


    <!-- jQuery Load -->
    <script src="{% static "js/jquery.min.js"%}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <!-- Countdown Js -->
    <script src="{% static "js/jquery.countdown.min.js"%}"></script>
    <!-- Smooth scroll JS -->
    <script src="{% static "js/smooth-scroll.js"%}"></script>
    <!-- Wow Scroll -->
    <script src="{% static "js/wow.js"%}"></script>
    <!-- Owl carousel -->
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <!-- Slicknav js -->
    <script src="{% static "js/jquery.slicknav.js"%}"></script>
    <!--  Nivo lightbox Js -->
    <script src="{% static "js/nivo-lightbox.js"%}"></script>
    <!-- Contact Form Scripts -->
    <script src="{% static "js/form-validator.min.js"%}"></script>
    <script src="{% static "js/contact-form-script.js"%}"></script>

    <!-- All Js plugin -->
    <script src="{% static "js/main.js"%}"></script>
    <!-- Map JS -->
    <script type="text/javascript" src="{% static "js/jquery.mapit.min.js"%}"></script>
    <script src="{% static "js/initializers.js"%}"></script>
    <script src="{% static "js/custom.js"%}"></script>


{% include "includes/footer_scripts.html" %}
</body>
</html>
