{% extends "base.html" %}

{% load i18n mezzanine_tags blog_tags speaker_tags slides_tags gallery_tags sponsor_tags media_tags venue_tags %}


{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home - PyCon Pakistan" %}
{% endif %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block main %}
    <!-- Home Section Start -->
    <!-- Main Slider Section Start -->
    <div id="carousel-area">
        <div class="carousel slide" data-ride="carousel" id="carousel-slider"><!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% all_slides as slides %}
                {% for slide in slides %}
                <div class="item{% if forloop.first %} active{% endif %}"><img alt="" src="{{ MEDIA_URL }}{{ slide.background_image }}"/>
                    <div class="carousel-caption">
                        <h2 class="wow fadeInRight" data-wow-delay="300ms">{{ slide.title }}<br/>
                        {{ slide.sub_text }}</h2>
                        <div>{{ slide.links|safe }}</div>
                        <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms"><span></span></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Controls --> <a class="left carousel-control" data-slide="prev" href="#carousel-slider" role="button">
                <span aria-hidden="true" class="icon-arrow-left"></span> </a> <a class="right carousel-control"
                                                                                 data-slide="next"
                                                                                 href="#carousel-slider" role="button">
                <span aria-hidden="true" class="icon-arrow-right"></span> </a></div>
    </div>
    <!-- Main Slider Section End -->
    <p></p>
    <!-- Coundown Section Start -->
    <section class="countdown-timer section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                    <div class="text">
                        <h2>PyCon Pakistan 2019</h2>
                        <h4>Saturday, 12th October 2019</h4>
                        <a class="btn btn-lg btn-common" href="http://happening.pk/conference/pycon-pakistan-2019/buy-tickets">Buy Tickets</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
                    <div class="time-countdown">
                        <div class="time-count" id="clock"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Coundown Section End -->
    <p></p>
    <!-- Welocme Event Start -->
    <section class="section" id="event">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="tab-block wow fadeInDown">
                        <div class="icon"><i class="icon-location-pin"></i></div>
                        <div class="desc">
                            <h4><a href="/contact-us">Location</a></h4>
                            <p>Habib University, Karachi</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="tab-block wow fadeInDown">
                        <div class="icon"><i class="icon-calendar"></i></div>
                        <div class="desc">
                            <h4><a href="/schedule">Date &amp; Time</a></h4>
                            <p>Saturday, 12th October 2019</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="tab-block wow fadeInDown">
                        <div class="icon"><i class="icon-microphone"></i></div>
                        <div class="desc">
                            <h4><a href="/speakers/2018">Speakers</a></h4>
                            <p>
                                <!-- {% speaker_count 2018 as speaker_count %}{{ speaker_count }} -->
                                Tech Icons and Professionals
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="tab-block last-block wow fadeInDown">
                        <div class="icon"><i class="icon-wallet"></i></div>
                        <div class="desc left">
                            <h4><a href="http://happening.pk/conference/pycon-pakistan-2019/buy-tickets">Tickets</a></h4>
                            <p>
                                <!-- {%total_passes_booked as passes %}{{ passes }} --> Available now 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="content-text">
                        <h3 class="wow fadeInUp">Be a part of PyCon Pakistan</h3>
                        <p class="wow fadeInUp">PyCon Pakistan connects local programmers, Python developers, students and IT companies with the local and international Python community.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welocme Event End -->
    <p></p>
    <!-- pycon video Section Start -->
    <section class="pycon-video section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                    <div class="text">
                        <h2>A look back at PyCon Pakistan 2018</h2>
                        <p>PyCon Pakistan 2018 was the second milestone in community building for the growth and promotion
                            of Python in the country. We owe its tremendous success to our speakers and attendees.
                            Watch them talk about their experiences in this video.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
                    <div class="pycon-video-area">
                        <iframe width="100%" height="400" style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FPyConPakistan%2Fvideos%2F667481397041235%2F&show_text=0&width=560" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pycon video Section End -->
    <p></p>
    <!-- Featured Section Start -->
    <section class="section" id="featured">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Why Join</h2>
                    <p class="section-subcontent wow fadeInUp">Python is the world’s fastest growing language according to IEEE Spectrum<br/> and is poised to shape some of the next big revolutions in technology</p>
                    <div class="col-md-4 col-sm-6">
                        <div class="featured-box wow fadeInLeft">
                            <div class="icon"><i class="icon-grid"></i></div>
                            <div class="featured-content">
                                <h4>Explore Python</h4>
                                <p>increasing participants’ exposure to Python</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="featured-box wow fadeInLeft">
                            <div class="icon"><i class="icon-feed"></i></div>
                            <div class="featured-content">
                                <h4>Make an impact</h4>
                                <p>a platform to discuss how technology can be used for greater social impact</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="featured-box wow fadeInLeft">
                            <div class="icon"><i class="icon-people"></i></div>
                            <div class="featured-content">
                                <h4>Meet the experts</h4>
                                <p>a great opportunity to meet with and learn from engaging speakers, technologists and entrepreneurs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <p></p>
    <!-- Gallery Section Start -->
    <section class="section" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Our Gallery</h2>
                    <p class="section-subcontent wow fadeInUp">Our journey so far towards the event</p>
                </div>
                <div class="gallery-wrap wow fadeInDown">
                {% featured_gallery_images 6 as images %}
                {% for gallery_image in images %}
                    {% include 'generic/gallery_image.html' with gallery_image=gallery_image MEDIA_URL=MEDIA_URL show_detail_link=True only %}
                {% endfor %}
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div class="more-btn text-center"><a class="btn btn-common wow fadeInUp" href="/gallery">View All</a></div>
            </div>
        </div>
        </div>
    </section>
    <!-- Gallery Section End -->
    <p></p>
    <!-- Speakers Section Start -->
    <!--<section class="section" id="speakers">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<h2 class="section-title wow fadeInUp">Meet Our Speakers</h2>-->
                <!--</div>-->
                <!--{% featured_speakers 6 as speakers %}-->
                <!--{% for speaker in speakers reversed%}-->
                    <!--{% include 'generic/speaker.html' with speaker=speaker MEDIA_URL=MEDIA_URL only %}-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--{% if speaker_count > 6 %}-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div class="more-btn text-center"><a class="btn btn-common wow fadeInUp" href="/speakers">show more</a></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--</div>-->
    <!--</section>-->
    <!-- Speakers Section End -->
    <p></p>
    <!-- Sponsors Section Start -->
    <section class="section" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Our Sponsors</h2>
                    <p class="section-subcontent wow fadeInUp">Sponsors are what will make this conference possible.</p>
                </div>
                {% featured_sponsors 10 as sponsors %}
                {% for sponsor_type, sponsors_list in sponsors.items %}
                    {% if sponsor_type %}
                        <h3>{{ sponsor_type }}</h3>
                    {% endif %}

                    {% for sponsor in sponsors_list %}
                        {% include 'generic/sponsor.html' with sponsor=sponsor MEDIA_URL=MEDIA_URL only %}
                    {% endfor %}
                {% endfor %}
            </div>
            <p class="text-center">Interested in sponsoring PyCon Pakistan? Find more about our
                    <a href="/static/media/uploads/pycon_2019_proposal.compressed.pdf" target="_blank">sponsorship packages.</a></p>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Media Partners</h2>
                </div>
                {% featured_media 10 as media %}
                {% for media in media reversed%}
                    {% include 'generic/sponsor.html' with sponsor=media MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Venue Partners</h2>
                </div>
                {% featured_venue 10 as venue %}
                {% for venue in venue reversed%}
                    {% include 'generic/sponsor.html' with sponsor=venue MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
        <!--<div class="row">-->
            <!--<div class="col-md-12 text-center">-->
                <!--<h3>Want to contribute?</h3>-->
                <!--<p>If you have any questions about sponsoring PyCon, <a href="/contact-us">contact us</a></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row" style="margin-top: 40px;">-->
            <!--<div class="col-md-12">-->
                <!--<h2 class="section-title wow fadeInUp animated" style="visibility: visible;">Our media Partner</h2>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-sm-6 col-xs-12" style="float: none;margin: auto;display: table;">-->
                <!--<div class="spnsors-logo wow fadeInUp animated" style="visibility: visible;">-->
                    <!--<a href="https://www.dawn.com/">-->
                        <!--<img alt="" src="/static/media/uploads/dawnnew.png">-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        </div>
    </section>
    <!-- Sponsors Section End -->
    <!-- Blog Section Start -->
    <section class="section" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Blog</h2>
                </div>
                {% blog_recent_posts 3 as recent_posts %}
                {% for post in recent_posts %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="blog-item wow fadeInRight">
                        <div class="blog-image"><a href="{{ post.get_absolute_url }}"> <img alt="" src="{{ MEDIA_URL }}{{ post.featured_image }}"/> </a>
                        </div>
                        <div class="blog-info">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <div class="meta">
                                <span class="meta-part">
                                    <i class="icon-calendar"></i> {{ post.publish_date }}
                                </span>
                            </div>
                            {{ post.description_from_content|truncatewords_html:18|richtext_filters|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% blog_post_count as post_count %}
        {% if post_count > 3 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="more-btn text-center"><a class="btn btn-common wow fadeInUp" href="/blog">show more</a></div>
                </div>
            </div>
        {% endif %}
        </div>
    </section>
    <!-- Blog Section End -->
    <!-- Home Section End -->
{% endblock %}
