{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title_wrapper %}
{% endblock %}




{% block main %}
    <!-- Blog Section Start -->
    <section id="content" class="section">

        <!-- Start Blog Posts -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% for blog_post in blog_posts.object_list %}
                        {% block blog_post_main %}
                            <div class="blog-post">
                                <div class="feature-inner">
                                    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                                        {% block blog_post_list_post_featured_image %}
                                            <a class="lightbox" href="{{ blog_post.get_absolute_url }}">
                                                <img class="" src="{{ MEDIA_URL }}{{ blog_post.featured_image }}">
                                            </a>
                                        {% endblock %}
                                    {% endif %}
                                </div>

                                <div class="post-format">
                                    <span>
                                        <a class="lightbox" href="{{ MEDIA_URL }}{{ blog_post.featured_image }}">
                                            <i class="icon-picture"></i>
                                        </a>
                                    </span>
                                </div>

                                <div class="post-content">

                                    <h3 class="post-title">
                                        {% block blog_post_list_post_title %}
                                            {% editable blog_post.title %}
                                                <h3><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                                                </h3>
                                            {% endeditable %}
                                        {% endblock %}
                                    </h3>


                                    <div class="meta">
                                      <span class="meta-part"><a href="#">
                                          {% with blog_post.user as author %}
                                              <i class="icon-user"></i>
                                              {{ author.get_full_name|default:author.username }}
                                          {% endwith %}</a></span>
                                        <span class="meta-part"><a href="#"><i class="icon-calendar"></i>
                                            {% blocktrans with sometime=blog_post.publish_date|timesince %}
                                                {{ sometime }} ago{% endblocktrans %}</a></span>
                                    </div>

                                    <p>
                                        {% block blog_post_list_post_content %}
                                            {% editable blog_post.content %}
                                                {{ blog_post.description_from_content|safe }}
                                            {% endeditable %}
                                        {% endblock %}
                                    </p>
                                    <a class="btn btn-common btn-small" href="{{ blog_post.get_absolute_url }}">
                                        Continue Reading</a>
                                </div>
                            </div>


                        {% endblock %}
                    {% endfor %}


                    <!-- Start Pagination -->
                    {% pagination_for blog_posts %}
                    <!-- End Pagination -->
                </div>
                <!-- End Blog Posts -->

                {% include 'blog/sidebar.html' %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

{% endblock %}

