#content img {
    height: auto;
}

.gallery-item {
    max-height: 180px;
    overflow: hidden;
}
.carousel-inner .item{
    max-height: calc(100vh - 120px);
}
#carousel-area .carousel-inner .item .carousel-caption{
    top: 50%;
    transform: translateY(-75%);
}

.spnsors-logo img{
    width: 100%;
    max-width: 200px;
}

#sponsors .spnsors-logo{
    line-height: 250px;
    height: 250px;
    padding: 0 30px;
    margin-bottom: 30px;
}
speakers-member{
    overflow: hidden;
}
.blog-image{
    height: 300px;
}
#speakers .speakers-member:hover .member-img img{
    margin-top: 0;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
#speakers .speakers-member img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.member-desc{
    line-height: 22px;
}

.member-desc .social-icon{
    margin-top: 10px;
}

.gellery-pn{
    position: relative;
}
.gellery-pn h2{
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    bottom: 12px;
    left: 15px;
    text-shadow: 0px 0px 5px #000;
}

.section-title{
    font-size: 32px;
}

.form-group input{
    max-width: 100% !important;
}

form .btn-common{
    margin: 0 auto 30px;
    display: block;
}

.extra-margin{
    margin-top: 45px !important;
}
.form-group > textarea {
    max-height: 143px;
    overflow: auto;
}

a.navbar-brand {
    padding-top: 10px;
}

@media (max-width: 1024px) and (min-width: 768px){
    #carousel-area .carousel-inner .item .carousel-caption {
        top: 50%;
    }
}

/* Style for social icon on contact-us*/
#contact .social a .fa-facebook:hover {
  color: #3b5998;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*Styles for registration form*/

.form-widget {
    border: 1px solid #f1f1f1;
    overflow: hidden;
    margin: 0 0 50px;
}

.form-widget h3 {
    margin: 0;
    font-size: 22px;
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

.select-ticket-widget {
    padding: 30px;
}

section#pricing{
    padding:30px 0 5px;
}

.select-tickets {
    padding: 20px;
    border: 1px solid #f1f1f1;
    background: #f4f4f4;
    overflow: hidden;
    border-radius: 4px;
}

.select-tickets div {
    float: left;
}

.select-tickets div h4 {
    margin: 0 0 5px;
    text-transform: capitalize;
}

.select-tickets select {
    width: 100px;
    float: right;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc !important;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 70px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.order-summary {
    padding: 30px;
}

.order-summary table {
    width: 100%;
}

.order-summary table thead th {
    padding: 0 0 10px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.registration-information {
    padding: 30px;
}

.registration-information h4 {
    margin: 0 0 30px;
    font-weight: 600;
}

.registration-information form {
    margin: 0 0 30px;
}

.registration-information form .form-control {
    height: 40px;
    border-radius: 0;
}

.registration-information form .form-group label {
    font-weight: normal;
    margin: 0 0 10px;
}

.custom-margin {
    margin: 50px 0 30px;
}

.carousel-inner .item img{
  max-width: none;
  width: 100%;
}

.carousel-inner .item:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.hidden{
    display: none;
}
