#content img {
    height: auto;
}

.gallery-item {
    max-height: 180px;
    overflow: hidden;
}
.carousel-inner .item{
    max-height: calc(100vh - 120px);
}
#carousel-area .carousel-inner .item .carousel-caption{
    top: 50%;
    transform: translateY(-75%);
}

.spnsors-logo img{
    width: 100%;
    max-width: 200px;
}

#sponsors .spnsors-logo{
    line-height: 250px;
    height: 250px;
    padding: 0 30px;
    margin-bottom: 30px;
}
speakers-member{
    overflow: hidden;
}
.blog-image{
    height: 300px;
}

#blog .blog-info{
    height: 200px !important;
    padding: 15px !important;
}

#blog .blog-info{
    padding: 0 20px;
}

#speakers .speakers-member:hover .member-img img{
    margin-top: 0;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
#speakers .speakers-member img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.speakers-member .member-img{
    padding: 0;
    text-align: left;
}
.member-desc{
    line-height: 22px;
    padding: 15px 20px 30px;
}

.member-desc .social-icon{
    margin-top: 10px;
}

.organizers .member-desc .social-icon{
    margin-top: 35px;
}

.gellery-pn{
    position: relative;
}
.gellery-pn h2{
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    bottom: 12px;
    left: 15px;
    text-shadow: 0px 0px 5px #000;
}

.section-title{
    font-size: 32px;
}

.form-group input{
    max-width: 100% !important;
}

form .btn-common{
    margin: 0 auto 30px;
    display: block;
}

.extra-margin{
    margin-top: 45px !important;
}
.form-group > textarea {
    max-height: 193px;
    max-width: 100%;
    min-height: 193px;
    overflow: auto;
}

a.navbar-brand {
    padding-top: 10px;
}

.speakers-member .member-desc p{
    height: 60px;
}
.speakers-member img{
    max-width: 100%;
}

#contact .label-line.textarea {
    height: 104px;
}

#contact textarea{
    height: 104px;
}

.navbar-brand>img {
    display: block;
    max-width: 130px;
    padding-top: 5px;
}

#schedule .table tr td:last-child, #schedule .table tr th:last-child, #schedule .table tr td:nth-last-child(2), #schedule .table tr th:nth-last-child(2) {
    text-align: center;
}

#schedule .table tr td .fa{
    margin-left: 7px;
    opacity: 0.5;
}

/* Style for social icon on contact-us*/
#contact .social a .fa-facebook:hover {
  color: #3b5998;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/*Styles for registration form*/

.form-widget {
    border: 1px solid #f1f1f1;
    overflow: hidden;
    margin: 0 0 50px;
}

.form-widget h3 {
    margin: 0;
    font-size: 22px;
    background: #f1f1f1;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

.select-ticket-widget {
    padding: 30px;
}

.alert{
    border-radius: 0;
}

.mezzanine-form .overlay{
    position: relative;
    user-select: none;
}

.mezzanine-form .overlay:before{
    position: absolute;
    content: "";
    left: -15px;
    right: -15px;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 1;
}

section#pricing{
    padding:30px 0 5px;
}

.select-tickets {
    padding: 20px;
    border: 1px solid #f1f1f1;
    background: #f4f4f4;
    overflow: hidden;
    border-radius: 4px;
}

.select-tickets div {
    float: left;
}

.select-tickets div h4 {
    margin: 0 0 5px;
    text-transform: capitalize;
}

.select-tickets select {
    width: 100px;
    float: right;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc !important;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 92% 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.order-summary {
    padding: 30px;
}

.order-summary table {
    width: 100%;
}

.order-summary table thead th {
    padding: 0 0 10px;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.registration-information {
    padding: 30px;
}

.registration-information h4 {
    margin: 0 0 30px;
    font-weight: 600;
}

.registration-information form {
    margin: 0 0 30px;
}

.registration-information form .form-control {
    height: 40px;
    border-radius: 0;
}

.registration-information form .form-group label {
    font-weight: normal;
    margin: 0 0 10px;
}

.custom-margin {
    margin: 50px 0 30px;
}

.carousel-inner .item img{
  max-width: none;
  width: 100%;
}

.carousel-inner .item:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.hidden{
    display: none;
}

.squared li{
    list-style-type: square;
    color: #adadad;
    padding: 3px 5px;
}

.squared li a:focus{
    color: #4CAF50;
}

.squared li i{
    font-size: 80%;
}

.dropdown-submenu > a::after { margin-top: 15px; }
.navbar-event .dropdown .dropdown-menu li .dropdown-menu  {
    left: 100%;
    top: 4px;
}

.navbar-event .dropdown .dropdown-menu > li > a:hover,
.navbar-event .dropdown .dropdown-menu > li > a .active,
.navbar-event .dropdown .dropdown-menu > li:hover > a { color: #4CAF50; }
.navbar-event .dropdown .dropdown-menu > li.active > a:hover,
.navbar-event .dropdown .dropdown-menu > li.active:hover > a { color: #fff; }
.back-to-top i { line-height: 38px; }
#event { background-attachment: fixed; }
.speakers-member .member-desc { padding: 15px 25px 30px; }
.speakers-member { min-height: 520px; }
.speakers-member.organizers { min-height: 450px; }

/* home page video Section */
.pycon-video .text{
    max-width: 450px;
}
.pycon-video .text h2 {
    margin-bottom: 20px;
    margin-top: 0;
}
.pycon-video-area iframe{
    height: 315px;
}
/* Media Queries*/

@media (max-width: 1199px) {
    .countdown-timer .text { padding: 10px 50px; }
    .countdown-timer .text h2 {
        font-size: 30px;
        line-height: 38px;
    }
    .time-entry {
        min-width: 100px;
        margin-right: 12px;
    }
    .time-entry span {
        font-size: 30px;
        line-height: 35px;
    }
    #blog .blog-info { height: 260px !important; }
    .pycon-video-area iframe{
        height: 260px;
    }
    .navbar-event .navbar-nav li a {
        padding: 0 14px;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    #carousel-area .carousel-inner .item .carousel-caption {
        top: 45%;
    }
    .navbar-event .navbar-nav li a { padding: 0 20px; }
    .countdown-timer .text { padding: 10px 30px; }
    .time-entry {
        min-width: 70px;
        font-size: 12px;
        padding: 12px;
    }
    .time-entry span {
        font-size: 22px;
        line-height: 25px;
    }
    .countdown-timer .text h2 {
        font-size: 25px;
        line-height: 30px;
        margin-top: 0;
    }
    .countdown-timer .btn-lg {
        margin-top: 10px;
        padding: 10px 30px;
    }
    .time-countdown { margin-top: 50px; }
    #blog .blog-info { height: 230px !important; }
    .pycon-video-area iframe{
        height: 200px;
        margin-top: 20px;
    }
    .navbar-event .navbar-nav li a {
        padding: 0 14px;
    }
    .time-countdown {
        margin-left: -10px;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar-header { float: none; }
    .navbar-header .navbar-brand {
        margin: 0 auto !important;
        float: none;
        display: block;
        width: 130px;
    }
    .navbar-default .navbar-collapse { text-align: center; }
    .navbar-right {
        float: none !important;
        margin: 0;
    }
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
    .navbar-event .navbar-nav li a { margin-right: -1px; }
}

@media (max-width: 767px){
    .navbar-brand img {
        margin-top: 0 !important;
        width: 65%;
    }
    .rev-scroll-btn{
        display: none;
    }
    .section{
        padding: 35px 0;
    }
    #carousel-area .carousel-control{
        top: 50%;
    }
    #carousel-area .carousel-inner .item .carousel-caption{
        transform: translateY(-80%);
    }
    #carousel-area .carousel-inner .item .carousel-caption .btn-common{
        display: inline-block;
    }
    #carousel-area .carousel-inner .item .carousel-caption {
        top: 6%;
        transform: translateY(0%);
    }
    .time-countdown{
        margin-top: 20px;
        text-align: center;
    }
    .time-entry {
        margin-right: 5px;
        padding: 10px 0;
        min-width: 63px;
        font-size: 10px;
        float: none !important;
        display: inline-block;
        vertical-align: top;
    }
    .time-entry span{
        font-size: 24px;
        margin-bottom: 0;
    }
    .countdown-timer .btn-lg{
        margin-top: 0;
    }
    .countdown-timer .text{
        text-align: center;
    }
    .countdown-timer .text h2{
        margin-top: 0;
        font-size: 23px;
        line-height: 30px;
    }
    .select-tickets select{
        width: 100%;
    }
    .select-ticket-widget{
        padding: 30px 0;
    }
    .slicknav_nav{
        overflow-y: auto;
        margin: 0 -15px;
        width: auto;
    }
    .slicknav_nav li{
        background-color: #4CAF50;
    }
    .slicknav_nav li a{
        color: #fff;
    }
    .slicknav_nav .active{
        color: #1f541c;
    }
    .slicknav_nav a{
        margin: 1px 5px;
    }
    .slicknav_nav a:hover{
        color: #1f541c;
    }
    .slicknav_nav li { padding: 0 0 0 15px; }
    .slicknav_nav li ul li { padding: 0; }
    .back-to-top {
        bottom: 15px;
        right: 20px;
    }
    .speakers-member {
        min-height: inherit;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #blog .blog-info { height: auto !important; }
    .pycon-video .text{
       max-width: 100%;
        text-align: center;
    }
    .pycon-video-area iframe{
        height: auto;
    }
    .pycon-video-area {
        position:relative;
        padding-bottom:56.25%;
        padding-top:30px;
        height:0;
        overflow:hidden;
    }

    .pycon-video-area iframe, .pycon-video-area object, .pycon-video-area embed {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
    .time-countdown {
        margin-left: 0;
    }
}



.form-group > select{
    max-width: 100%;
}

#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}

.speakers-member .member-desc h5 {
    line-height: normal;
    min-height: 38px;
}
#sponsors { text-align: center; }
#sponsors .col-md-3 {
    float: none;
    display: inline-block;
}