
#content img {
  height: auto;
}

.gallery-item {
  max-height: 180px;
  overflow: hidden;
}

.carousel-inner .item img{
  max-width: none;
  width: 100%;
}

.carousel-inner .item{
  position: relative;
}

.carousel-inner .item:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}
