{% extends "pages/page.html" %}

{% load i18n mezzanine_tags form_tags %}

{% block left_wrapper %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
<div class="col-md-{% block main_col_size %}8{% endblock %}">
    {% block main %}
        {{ block.super }}
        {% if request.GET.sent %}
            {% editable page.form.response %}
                {{ page.form.response|richtext_filters|safe }}
            {% endeditable %}
        {% else %}
            {% with page.form as page_form %}
                {% editable page_form.content %}
                    {{ page_form.content|richtext_filters|safe }}
                {% endeditable %}
            {% endwith %}
            <div class="container">
                {% errors_for form %}
            </div>
            {% list_iterator form as fields %}
            <form class="mezzanine-form" method="post"{% if form.is_multipart %}
                  enctype="multipart/form-data"{% endif %}>
                {% nevercache %}
                    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                    {% csrf_token %}
                {% endnevercache %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}

                    {% endif %}
                {% endfor %}
                <!-- Buy Tickets Section -->
                <div class="container">
                    <div class="row">

                        <!-- Select Tickets -->
                        <div class="form-widget">
                            <h3>Select Tickets</h3>
                            <div class="select-ticket-widget clearfix">
                                <div class="col-sm-4 col-xs-12">
                                    <div class="select-tickets">
                                        <div>
                                            <h4>{{ fields.0.label }}</h4>
                                            <span>Price: PKR 500/Ticket</span>
                                        </div>
                                        {{ fields.0 }}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="select-tickets">
                                        <div>
                                            <h4>{{ fields.1.label }}</h4>
                                            <span>Price: PKR 1500/Ticket</span>
                                        </div>
                                        {{ fields.1 }}
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="select-tickets">
                                        <div>
                                            <h4>{{ fields.2.label }}</h4>
                                            <span>Free</span>
                                        </div>
                                        {{ fields.2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Select Tickets -->

                        <!-- Select Tickets -->
                        <div class="form-widget">
                            <h3>registration information</h3>
                            <div class="registration-information clearfix">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Your Information</h4>
                                        {% render_field fields.3 %}
                                        {% render_field fields.4 %}
                                        {% render_field fields.5 %}
                                        {% render_field fields.6 %}
                                        {% render_field fields.7 %}
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="custom-margin">Work Information</h4>
                                        {% render_field fields.8 %}
                                        <h4>Other Information</h4>
                                        {% render_field fields.9 %}
                                        {% render_field fields.10 %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Select Tickets -->
                        <input class="btn btn-common wow" type="submit" value="{{ page.form.button_text }}">
                    </div>
                </div>
                <!-- Buy Tickets Section -->

            </form>
        {% endif %}

    {% endblock %}
</div>


{% block extra_js %}
    {{ block.super }}
    <script>
        $(function () {
            $('.mezzanine-form :input:visible:enabled:first').focus();
        });
    </script>
{% endblock %}
