{% extends "pages/page.html" %}

{% load i18n mezzanine_tags form_tags %}

{% block left_wrapper %}
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
<div class="col-md-{% block main_col_size %}8{% endblock %}">
    {% block main %}
        {{ block.super }}
        {% if request.GET.sent %}
            <script type="text/javascript">
                window.location.href = "https://bookme.pk/events/PyCon_Pakistan";
            </script>
            {% comment %}{% editable page.form.response %}
                {{ page.form.response|richtext_filters|safe }}
            {% endeditable %}{% endcomment %}
        {% else %}
            {% with page.form as page_form %}
                {% editable page_form.content %}
                    {{ page_form.content|richtext_filters|safe }}
                {% endeditable %}
            {% endwith %}
            <div class="container">
                {% errors_for form %}
            </div>
            {% list_iterator form as fields %}
            <form class="mezzanine-form" method="post" onsubmit="return validate_form();"
                    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% nevercache %}
                    <input type="hidden" name="referrer" value="{{ request.META.HTTP_REFERER }}">
                    {% csrf_token %}
                {% endnevercache %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}

                    {% endif %}
                {% endfor %}
                <!-- Buy Tickets Section -->
                <div class="container">
                    <div>
                        <h4 class="text-danger text-center">
                            <div class="alert alert-danger">Registration Closed!</div>
                        </h4>
                    </div>
                    <div class="overlay">
                        <div class="row">
                            <!-- Select Tickets -->
                            <div class="form-widget">
                                <h3>registration information</h3>
                                <div class="registration-information clearfix">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-md-offset-2">
                                            <h4>Your Information</h4>
                                            {% render_field fields.0 %}
                                            {% render_field fields.1 %}
                                            {% render_field fields.2 %}
                                            <div class="form-group">
                                                <label class="control-label" for="id_field_7">Confirm Email:*</label>
                                                <input id="id_field_7" type="email" required>
                                            </div>
                                            {% render_field fields.3 %}
                                            {% render_field fields.4 %}
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <h4>Work Information</h4>
                                            {% render_field fields.5 %}
                                            <h4 class="extra-margin">Other Information</h4>
                                            {% render_field fields.6 %}
                                            {% render_field fields.7 %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="checkboxes col-md-8 col-md-offset-2">
                                            {% render_field fields.8 %}
                                            <span class="note">*Discount Offer: 20% discount on bundle of 5-9 tickets, 25% discount on bundle of 10 or more tickets. For those interested in discount offer, email directly at <a href="mailto:info@pycon.pk">info@pycon.pk</a></span>
                                            {% render_field fields.9 %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Buy Tickets Section -->

            </form>
        {% endif %}

    {% endblock %}
</div>


{% block extra_js %}
    {{ block.super }}
    <script>
        $(function () {
            $('.mezzanine-form :input:visible:enabled:first').focus();
        });
    </script>
{% endblock %}
