{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Speakers - PyCon Pakistan" %}
{% endif %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block main %}
    <!-- Speakers Section Start -->
    <section class="section" id="speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Meet Our Speakers</h2>

                </div>
                {% for speaker in speakers %}
                    {% include 'generic/speaker.html' with speaker=speaker MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
