{% extends "base.html" %}
{% load i18n mezzanine_tags sponsor_tags media_tags venue_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Our Sponsors - PyCon Pakistan" %}
{% endif %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block main %}
    <section class="section" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Our Sponsors</h2>
                </div>
                {% all_sponsors as sponsors %}
                {% for sponsor_type, sponsors_list in sponsors.items %}
                    {% if sponsor_type %}
                        <h3>{{ sponsor_type }}</h3>
                    {% endif %}

                    {% for sponsor in sponsors_list %}
                        {% include 'generic/sponsor.html' with sponsor=sponsor MEDIA_URL=MEDIA_URL only %}
                    {% endfor %}
                {% endfor %}
            </div>
            <p class="text-center">Interested in sponsoring PyCon Pakistan? Find more about our
                <a href="/static/media/uploads/pycon_2019_proposal.compressed.pdf" target="_blank">sponsorship packages.</a></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Media Partners</h2>
                </div>
                {% all_media as media %}
                {% for media in media reversed %}
                    {% include 'generic/sponsor.html' with sponsor=media MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title wow fadeInUp">Venue Partners</h2>
                </div>
                {% all_venue as venue %}
                {% for venue in venue reversed %}
                    {% include 'generic/sponsor.html' with sponsor=venue MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
