{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Gallery - PyCon Pakistan" %}
{% endif %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block main %}

    <p></p>
    <!-- Gallery Section Start -->
    <section class="section" id="gallery">
        <div class="container">
            <div class="col-md-12">
                <h2 class="section-title wow fadeInUp">{{ gallery.title }}</h2>
                <p class="section-subcontent wow fadeInUp animated">{{ gallery.gallery_description }}</p>
            </div>
            <div class="gallery-wrap wow fadeInDown">
                {% for gallery_image in gallery.galleryimage_set.all %}
                    {% include 'generic/gallery_image.html' with gallery_image=gallery_image MEDIA_URL=MEDIA_URL only %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->
{% endblock %}
